In [ ]:
import pandas as pd
df_raw = pd . read_csv ('../Airbnb_Open_Data.csv')
print(df_raw.head())

        id                                              NAME      host id  \
0  1001254                Clean & quiet apt home by the park  80014485718
1  1002102                             Skylit Midtown Castle  52335172823
2  1002403               THE VILLAGE OF HARLEM....NEW YORK !  78829239556
3  1002755                                               NaN  85098326012
4  1003689  Entire Apt: Spacious Studio/Loft by central park  92037596077

  host_identity_verified host name neighbourhood group neighbourhood  \
0            unconfirmed  Madaline            Brooklyn    Kensington
1               verified     Jenna           Manhattan       Midtown
2                    NaN     Elise           Manhattan        Harlem
3            unconfirmed     Garry            Brooklyn  Clinton Hill
4               verified    Lyndon           Manhattan   East Harlem

        lat      long        country  ... service fee minimum nights  \
0  40.64749 -73.97237  United States  ...       $193            10.0
1  40.75362 -73.98377  United States  ...        $28            30.0
2  40.80902 -73.94190  United States  ...       $124             3.0
3  40.68514 -73.95976  United States  ...        $74            30.0
4  40.79851 -73.94399  United States  ...        $41            10.0

  number of reviews last review  reviews per month review rate number  \
0               9.0  10/19/2021               0.21                4.0
1              45.0   5/21/2022               0.38                4.0
2               0.0         NaN                NaN                5.0
3             270.0    7/5/2019               4.64                4.0
4               9.0  11/19/2018               0.10                3.0

  calculated host listings count  availability 365  \
0                            6.0             286.0
1                            2.0             228.0
2                            1.0             352.0
3                            1.0             322.0
4                            1.0             289.0

                                         house_rules license
0  Clean up and treat the home the way you'd like...     NaN
1  Pet friendly but please confirm with me if the...     NaN
2  I encourage you to use my kitchen, cooking and...     NaN
3                                                NaN     NaN
4  Please no smoking in the house, porch or on th...     NaN

[5 rows x 26 columns]

/var/folders/53/zd9ykw0s3jscrccwcf6wk3ww0000gn/T/ipykernel_668/3003863155.py:2: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd . read_csv ('../Airbnb_Open_Data.csv')

In [5]:
print(df_raw.columns)

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [6]:
df_raw = df_raw.drop(["country", "country code"], axis='columns')

In [8]:
cols = ['price', 'service fee']
for col in cols:
  df_raw[col] = df_raw[col].str.replace('$', '')
  df_raw[col] = df_raw[col].str.replace(',', '')
  df_raw[col] = pd . to_numeric(df_raw[col])

In [12]:
print(df_raw.dtypes)
print (df_raw.describe())

id                                  int64
NAME                               object
host id                             int64
host_identity_verified             object
host name                          object
neighbourhood group                object
neighbourhood                      object
lat                               float64
long                              float64
instant_bookable                   object
cancellation_policy                object
room type                          object
Construction year                 float64
price                             float64
service fee                       float64
minimum nights                    float64
number of reviews                 float64
last review                        object
reviews per month                 float64
review rate number                float64
calculated host listings count    float64
availability 365                  float64
house_rules                        object
license                            object
dtype: object
                 id       host id            lat           long  \
count  1.025990e+05  1.025990e+05  102591.000000  102591.000000
mean   2.914623e+07  4.925411e+10      40.728094     -73.949644
std    1.625751e+07  2.853900e+10       0.055857       0.049521
min    1.001254e+06  1.236005e+08      40.499790     -74.249840
25%    1.508581e+07  2.458333e+10      40.688740     -73.982580
50%    2.913660e+07  4.911774e+10      40.722290     -73.954440
75%    4.320120e+07  7.399650e+10      40.762760     -73.932350
max    5.736742e+07  9.876313e+10      40.916970     -73.705220

       Construction year          price    service fee  minimum nights  \
count      102385.000000  102352.000000  102326.000000   102190.000000
mean         2012.487464     625.293536     125.026924        8.135845
std             5.765556     331.671614      66.325739       30.553781
min          2003.000000      50.000000      10.000000    -1223.000000
25%          2007.000000     340.000000      68.000000        2.000000
50%          2012.000000     624.000000     125.000000        3.000000
75%          2017.000000     913.000000     183.000000        5.000000
max          2022.000000    1200.000000     240.000000     5645.000000

       number of reviews  reviews per month  review rate number  \
count      102416.000000       86720.000000       102273.000000
mean           27.483743           1.374022            3.279106
std            49.508954           1.746621            1.284657
min             0.000000           0.010000            1.000000
25%             1.000000           0.220000            2.000000
50%             7.000000           0.740000            3.000000
75%            30.000000           2.000000            4.000000
max          1024.000000          90.000000            5.000000

       calculated host listings count  availability 365
count                   102280.000000     102151.000000
mean                         7.936605        141.133254
std                         32.218780        135.435024
min                          1.000000        -10.000000
25%                          1.000000          3.000000
50%                          1.000000         96.000000
75%                          2.000000        269.000000
max                        332.000000       3677.000000

In [16]:
df = df_raw.copy()

columns = ["license", "house_rules"]

df = df.drop(columns, axis="columns")

df = df.dropna()

print(df.shape[0]/df_raw.shape[0], df.shape[1]/df_raw.shape[1])

df.to_csv('../data/clean/AirBnbDataClean.csv')
df.head()

0.8217721420286748 0.9166666666666666

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,instant_bookable,...,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,False,...,2020.0,966.0,193.0,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,False,...,2007.0,142.0,28.0,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,False,...,2009.0,204.0,41.0,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,True,...,2013.0,577.0,115.0,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0
7,1005202,BlissArtsSpace!,90821839709,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,False,...,2009.0,1060.0,212.0,45.0,49.0,10/5/2017,0.40,5.0,1.0,219.0